<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Month</th>
    <th scope="col">Payments</th>
    <th scope="col">Payouts</th>
    <th scope="col">Balance</th>
  </tr>
  </thead>
  <tbody (click)="onSelected()">
  <tr *ngFor="let history of histories; let i = index">
    <td>
      {{history.month}}
    </td>
    <td>
      {{history.payments}}
    </td>
    <td>
      {{history.payouts}}
    </td>
    <td>
      {{history.payments - history.payouts}}
    </td>
  </tr>
  </tbody>
</table>
