<form (ngSubmit)="onSubmit(f)" #f="ngForm">
<div class="row">
  <div class="class col sm 3 form-group">
    <label for="inputMDEx">Choose your date</label>
    <div class="md-form">
      <input type="month" id="inputMDEx" class="form-control"
             ngModel
             required
             name="date">
    </div>
  </div>
  <div class="class col sm 4 form-group">
  <label>Choose budget post</label>
    <select
      id="category"
      name="category"
      class="form-control"
      ngModel
      required> <!--Knappen skal enables når "tilføj budget" klikkes på i budget"[disabled]=[buttonDisabled] -->
      <option value="Self love">Self love!</option>
      <option value="PAAAARTY">PAAARTY</option>
      <option value="Games">Games</option>
      <option value="Create category">Create custom category!</option>
    </select>
  </div>
    <div class="class col sm 4 form-group">
      <div class="row">
      <label> Budget post amount </label>
      <div class="input-group">
        <input
          class="form-control"
          ngModel
          id="categoryBudget"
          name="categoryBudget"
          type="text"
          required
          pattern="^[1-9]+[0-9]*$">

  <div class="input-group-btn">
    <button
      [disabled]="!f.valid"
      class="btn btn-primary"
      type="submit"> <!--Knappen skal enables når "tilføj budget" klikkes på i budget"[disabled]=[buttonDisabled] -->
      add
    </button>
    </div>
      </div>
    </div>
    </div>
</div>
  <span class="help-block"
        *ngIf="!f.valid && f.touched"> Please enter valid information for all the boxes</span>
</form>

