<div class="card card-login"> <!-- TODO center vertically -->
  <div class="card-header"> My Expense Tracker</div>
  <div class="card-body">
    <form> <!-- TODO horizontally in card-body -->
      <!-- Username Input-->
      <div class="row form-group">
        <input
          type="text"
          placeholder="Username">
      </div>
      <!-- Password input-->
      <div class="row form-group">
        <input
          type="text"
          placeholder="Password">
      </div>
      <div class="row">
        <span class="help-block">Forgot your password?</span>
      </div>
    </form>
    <!-- Button -->
    <div class="form-group">
      <div class="col-md-4">
        <button class="btn btn-success">Login</button>
      </div>
    </div>
  </div>
  <div class="card-footer"> Register new user</div>
</div>
