<div class="row">
  <div class="col xs 12">
    <form>
      <div class="row">
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type=""
            id="amount"
            class="form-control"
            #amountInput>
        </div>
        <div class="col-sm-3 form-group">
          <label for="category">Category</label>
          <select id="category" name="category" class="form-control">
            <option value="1">Forkælesle</option>
            <option value="2">Druk</option>
            <option value="2">Computerspil</option>
          </select>
        </div>
        <div class="class col sm 3 form-group">
          <label for="inputMDEx">Choose your date</label>
          <div class="md-form">
            <input type="date" id="inputMDEx" class="form-control">
          </div>
        </div>
        <div class="row-cols-sm-5-form-group">
          <label for="note">Note</label>
          <input
            type="text"
            id="note"
            class="form-control"
            #nameInput>
        </div>
      </div>

      <div class="row">
        <div class="col xs 12">
            <button class="btn btn-success" type="submit">Add</button>
            <button class="btn btn-danger" type="button">Delete</button>
            <button class="btn btn-primary" type="button">Clear</button>
          </div>
      </div>
    </form>
  </div>
</div>
