<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="row">
    <div class="class col sm 4 form-group">
      <label>Choose categories!</label>
      <select
        id="category"
        name="category"
        class="form-control"
        ngModel
        required> <!--Knappen skal enables når "tilføj budget" klikkes på i budget"[disabled]=[buttonDisabled] -->
        <option value="Self love">Self love!</option>
        <option value="PAAAARTY">PAAARTY</option>
        <option value="Games">Games</option>
        <option value="Create category">Create custom category!</option>
      </select>
    </div>
    <div class="class col sm 4 form-group">
      <div class="row">
        <label>Amount</label>
        <div class="input-group">
          <input
            class="form-control"
            ngModel
            id="amount"
            name="amount"
            type="number"
            required
            pattern="^[1-9]+[0-9]*$">

          <div class="input-group-btn">
            <div class="row">
              <div class="col xs 12">
                <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add'}}</button>
                <button class="btn btn-danger" *ngIf="editMode" type="button" (click)="onDelete()">Delete</button>
                <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="help-block"
        *ngIf="!f.valid && f.touched"> Please enter valid information for all the boxes</span>
</form>


