<div class="row">
  <div class="col-sm-10 form-group">
    <label for="category">Year:</label>
    <select id="category" name="category" class="form-control" style="cursor: pointer;">
      <option value="1">2018</option>
      <option value="2">2019</option>
      <option value="3">2020</option>
      <option value="4">2021</option>
      <option value="5">2022</option>
      <option value="6">2023</option>
    </select>
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm-12">
    <app-history-selected
      *ngFor="let historyEl of histories"
      [historySelected]="historyEl"></app-history-selected>
  </div>
</div>

<br>
<br>

<ul class="list-group">
  <li class="list-group-item list-group-item-success">This is a success list group item</li>
  <li class="list-group-item list-group-item-danger">This is a warning list group item</li>
</ul>
