<br>
  <p>Vælg hvilket år du ønsker en historik over</p>
  <div
    class="btn-group"
    appDropdown>
    <button
      type="button"
      class="btn-primary dropdown-toggle">
      Årsoversigt<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Januar</a></li>
      <li><a href="#">Februar</a></li>
      <li><a href="#">Marts</a></li>
      <li><a href="#">April</a></li>
      <li><a href="#">Maj</a></li>
      <li><a href="#">Juni</a></li>
      <li><a href="#">Juni</a></li>
      <li><a href="#">August</a></li>
      <li><a href="#">September</a></li>
      <li><a href="#">Oktober</a></li>
      <li><a href="#">November</a></li>
      <li><a href="#">December</a></li>
    </ul>
  </div>

<br>
<br>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Month</th>
    <th scope="col">Payments</th>
    <th scope="col">Payouts</th>
    <th scope="col">Total</th>
  </tr>
  </thead>
  <tbody>
  <td *ngFor="let history of histories">
    {{history.month}}
  </td>
  </tbody>
</table>
