<div  id="chartContainer"style="height: 300px; width: 100%;" chartTopMargin="70"></div> <!--padding-top: 30px;-->
<div class="form-group">
  <label class="col-md-12"></label>
  <div style="text-align: center">
    <button class="btn btn-default">Opret et nyt budget</button>
  </div>
  <div class="col-md-4" >
    <p>Indtast dit budget!</p>
    <div class="input-group">
      <input class="form-control" placeholder="placeholder" type="text">
      <div class="input-group-btn" >
        <button class="btn btn-default" type="button">
          TIlføj!
        </button>
      </div>
    </div>
  </div>
  <label class="col-md-12"></label>
  <div class="col-md-4">
    <p>Indtast et budget til hver kategori!</p>
    <div class="input-group">
      <div class="input-group-btn" appDropDownMenu>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
          Vælg kategori
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu form-control-static">
          <li><a style="cursor: pointer"href="#">Fødevarer</a></li>
          <li><a href="#">Faste regninger</a></li>
          <li><a href="#">Hygge</a></li>
          <li><a href="#">Andet</a></li>
        </ul>
      </div>
      <input class="form-control" placeholder="Indtast et budget" type="text">
      <div class="input-group-btn" >
        <button  class="btn btn-default" type="button">
          TIlføj!
        </button>
      </div>
    </div>
  </div>
</div>
