<div class="col">
  <div class="row mt-3">
    <h2>Budget for month: {{currentMonth}}</h2>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Budget post</th>
        <th scope="col">Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let post of currBudget.posts; let i = index"
      (click)="onEditItem(i)"
      >
        <td>
          {{post.category}}
        </td>
        <td>
          {{post.amount}} kr
        </td>
      </tr>
      </tbody>
    </table>
    <h6>Total budget for the month: {{totalAmount}} kr</h6>
  </div>
  <div class="col-auto mt-3">
    <button (click)="addBudgetPost()" class="btn btn-primary">Add budget post</button>
    <div class="row" *ngIf="isAddingPost">
    <div class="class col sm 3 form-group">
      <app-budget-post-edit></app-budget-post-edit>
    </div>
  </div>
</div>
    <div class="col-auto mt-3">
      <div class="form-group">
        <div class="text-left">
        <div class="text-left">
          <button (click)="show()" class="btn btn-primary">Create new budget</button>
        </div>
        <div class="row mt-3">
        <form (ngSubmit)="addBudget(budget)" #budget="ngForm"> <!--For at console.log-->
        <div class="row" *ngIf="!isHidden">
          <div class="class col sm 3 form-group">
          <app-budget-category></app-budget-category>
        </div>
        </div>
        </form>
        </div>
      </div>
    </div>







