<div class="row main mt-5">
  <div class="col-lg-5">
    <div class="card card-profile">
      <div class="card-body">
        <h5>Account Details</h5>
        <hr>

        <table class="table account-table">
          <tbody>
            <tr>
              <td>Username</td>
              <td>________</td>
            </tr>
            <tr>
              <td>First Name</td>
              <td>________</td>
            </tr>
            <tr>
              <td>Last Name</td>
              <td>________</td>
            </tr>
            <tr>
              <td>Study</td>
              <td>________</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>________</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <div class="col-lg-7">
    <app-change-password></app-change-password>
  </div>
</div>
<div class="row main mt-5">
  <div class="col">
    <div class="card card-something">
      <div class="card-body">
        <h5>TEXT</h5>
        <hr>
      </div>
    </div>
  </div>
</div>

