<div class="row main mt-5">
  <div class="col-lg-5">
    <div class="card card-profile">
      <div class="card-body">
        <h5>Account Details</h5>
        <hr>
      </div>
    </div>
  </div>
  <div class="col-lg-7">
    <div class="card card-password">
      <div class="card-body">
        <h5>Change Password</h5>
        <hr>

        <form (ngSubmit)="onSubmit(f)" #f="ngForm">

          <!-- Current Password Input-->
          <div class="row form-group justify-content-center">
            <div class="col">
              <div class="row pl-5 justify-content-start">
                <label for="currentPassword">Current Password</label>
              </div>
            </div>
            <div class="col ">
              <div class="row justify-content-start">
                <input
                  type="password"
                  name="currentPassword"
                  id="currentPassword"
                  ngModel
                  required
                  placeholder="*********">
              </div>
            </div>
          </div>

          <!-- New Password Input-->
          <div class="row form-group justify-content-center">
            <div class="col">
              <div class="row pl-5 justify-content-start">
                <label for="currentPassword">New Password</label>
              </div>
            </div>
            <div class="col ">
              <div class="row justify-content-start">
                <input
                  type="password"
                  name="newPassword"
                  id="newPassword"
                  ngModel
                  required
                  placeholder="">
              </div>
            </div>
          </div>

          <!-- Confirm New Password Input-->
          <div class="row form-group justify-content-center">
            <div class="col">
              <div class="row pl-5 justify-content-start">
                <label for="currentPassword">Confirm New Password</label>
              </div>
            </div>
            <div class="col ">
              <div class="row justify-content-start">
                <input
                  type="password"
                  name="confirmNew"
                  id="confirmNew"
                  ngModel
                  required
                  placeholder="">
              </div>
            </div>
          </div>

          <!-- Button -->
          <div class="row mt-4 justify-content-center">
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="!f.valid"
            >Change</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
<div class="row main mt-5">
  <div class="col">
    <div class="card card-something">
      <div class="card-body">
        <h5>TEXT</h5>
        <hr>
      </div>
    </div>
  </div>
</div>

