<div class="row main mt-5">
  <div class="col-lg-5">
    <div class="card card-profile">
      <div class="card-body">
        <h5>Account Details</h5>
        <hr>
      </div>
    </div>
  </div>
  <div class="col-lg-7">
    <div class="card card-password">
      <div class="card-body">
        <h5>Change Password</h5>
        <hr>
      </div>
    </div>
  </div>
</div>
<div class="row main mt-5">
  <div class="col">
    <div class="card card-something">
      <div class="card-body">
        <h5>TEXT</h5>
        <hr>
      </div>
    </div>
  </div>
</div>

