<div class="card card-history-list">
  <div class="card-body">
    <div class="col-sm-10 form-group">
      <label for="category">Year:</label>
      <select id="category" name="category" class="form-control" style="cursor: pointer;">
        <option value="1">2018</option>
        <option value="2">2019</option>
        <option value="3">2020</option>
        <option value="4">2021</option>
        <option value="5">2022</option>
        <option value="6">2023</option>
      </select>
    </div>
    <h5>History of chosen year</h5>

    <app-history-item>
    </app-history-item>

  </div>
</div>
