<div class="card card-login"> <!-- TODO fix centering... again -->
  <div class="card-header"> My Expense Tracker</div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <!-- Username Input-->
      <div class="row form-group justify-content-center">
        <input
          type="text"
          name="username"
          ngModel
          placeholder="Username">
      </div>
      <!-- Password input-->
      <div class="row form-group justify-content-center">
        <input
          type="text"
          name="password"
          ngModel
          placeholder="Password">
      </div>
      <div class="row justify-content-center">
        <span class="help-block">Forgot your password?</span>
      </div>
      <!-- Button -->
      <button
        class="btn btn-success"
        type="submit"
      >Login</button>
    </form>
  </div>
  <div class="card-footer"> Register new user</div>
</div>
